<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <script src="/js/jquery-3.7.1.min.js"></script>
<body>
<div class="container-fluid">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="preAdd();">
        新增学生
    </button>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>性别</th>
            <th>成绩</th>
            <th style="width: 100px;">操作</th>
        </tr>
        </thead>
        <tbody id="studentTb">
<!--        <tr data-th-each="student : ${data}">-->
<!--            <th scope="row" data-th-text="${student.id}"></th>-->
<!--            <td data-th-text="${student.name}">Mark</td>-->
<!--            <td data-th-text="${student.sex}">Otto</td>-->
<!--            <td data-th-text="${student.score}">@mdo</td>-->
<!--        </tr>-->

        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="xue">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">学生信息</h4>
            </div>
            <div class="modal-body">


                <form id="formStudent">
                    <input hidden="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <label for="sex">性别</label>
                        <select class="form-control" id="sex" name="sex">
                            <option value="1">男</option>
                            <option value="2">女</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="score">成绩</label>
                        <input type="text" class="form-control" id="score" name="score" placeholder="成绩">
                    </div>
                </form>
<!--                表单结束-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveStudent();">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">

    function preAdd(){
        $("#id").val(0);//新增

    }

    //新增或更新
    function saveStudent(){


        var data=$("#formStudent").serialize();

        var id=$("#id").val();
        if(id<1){
            //新增
            $.ajax({

                url:"/webapi/student/insert",
                method:"post",

                data:data

            }).done(function () {

                loadTable();
                $('#myModal').modal('hide')
            })
        }else {
            //更新

            $.ajax({

                url:"/webapi/student/update",
                method:"put",

                data:data

            }).done(function () {

                loadTable();
                $('#myModal').modal('hide')
            })
        }


    }

    function edit(id){
        $('#myModal').modal('show')

        $.ajax({
            url:"/webapi/student/get/"+id
        }).done(function (rs) {

            $("#id").val(rs.id);
            $("#name").val(rs.name);
            $("#password").val("");
            $("#sex").val(rs.sex);
            $("#score").val(rs.score);
        })
    }

    function deleteStudent(id){
        if(confirm("你去定要删除吗？此操作不能反悔！！！")){
            $.ajax({

                url:"/webapi/student/delete/"+id,
                method:"delete"

            }).done(function () {

                loadTable();
            })
        }

    }

    function loadTable(){
        $.ajax({
            url:'/webapi/student/list'
        }).done(function (rs) {

            var len=rs.length;
            var html="";
            for(var i=0; i < len; i++){
                var item=rs[i];

                if(item.sex==1){
                    item.sex="男";
                }
                if(item.sex==2){
                    item.sex="女";
                }
                html+="<tr>"
                    +"<td>"+item.id+"</td>"
                    +"<td>"+item.name+"</td>"
                    +"<td>"+item.sex+"</td>"
                    +"<td>"+item.score+"</td>"
                    +"<td> <a href='#' onclick='edit( "+item.id+");'>编辑</a>    <a href='#' onclick='deleteStudent("+item.id +")'>删除</a></td>"

                    +"</tr>";
            }

            $("#studentTb").html(html);
        })
    }
    $(function() {
        loadTable();
    })

</script>

</body>
</html>